.result {
  display: flex;
  padding: 0 var(--spacing-m);
  height: 36px;
  font-size: 16px;
  font-weight: 200;
  line-height: 36px;
  cursor: default;
}

.resultText {
  flex: 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subCommandsArrow {
  align-self: center;
}

/* Align icon at center vertically */
.subCommandsArrow > * {
  display: block;
}

.activeResult {
  background: var(--color-accent);
  color: var(--color-surface);
}
