@import '@commercetools-frontend/ui-kit/materials/colors/base-colors.mod.css';
@import '@commercetools-frontend/ui-kit/materials/spacings.mod.css';

.result {
  display: flex;
  padding: 0 var(--spacing-16);
  height: 36px;
  font-size: 16px;
  font-weight: 200;
  line-height: 36px;
  cursor: default;
}

.resultText {
  flex: 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subCommandsArrow {
  align-self: center;
}

/* Align icon at center vertically */
.subCommandsArrow > * {
  display: block;
}

.activeResult {
  background: var(--color-navy);
  color: var(--color-white);
}
