
{
  "compact": true,
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
      ],
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "Chrome 60",
              "Firefox 56",
              "Edge 15"
            ]
          },
          "modules": false,
          "include": [
            "transform-es2015-classes"
          ]
        }],
        "react"
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
      ],
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 1 versions"]
          },
          "modules": false
        }],
        "react"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread"
      ],
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 1 versions"],
            "node": 8
          },
          "modules": false
        }],
        "react"
      ]
    }
  }
}
