package.json
packages/i18n/*.json
**/dist/
**/public/
packages/application-shell/test-utils/index.js
packages/application-shell-connectors/test-utils/index.js
packages/application-sdk/test-utils/index.js
**/types/generated/
.percy.yml
.cache
.yarn
