sudo: false

addons:
  apt:
    update: true
    sources:
      - deadsnakes
    packages:
      - python3.6

language: node_js

node_js:
  - '10'

notifications:
  email: false

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - python3.6 -m pip install --user transifex-client
  - export PATH="$HOME/.local/bin:$PATH"
script:
  - yarn run jest --projects jest.*.config.js --maxWorkers=4 --reporters jest-silent-reporter
  - yarn playground:build
after_success:
  - ./scripts/push_translations.sh
