# See https://yarnpkg.com/en/docs/yarnrc#yarn-path-
# TL;DR; We want to ensure that everyone uses the same yarn version, both locally and on CI.
yarn-path ".yarn/releases/yarn-1.17.2.js"

# See https://yarnpkg.com/blog/2016/11/24/offline-mirror/
# TL;DR: We want to ensure that builds and releases are not blocked by network issues.
yarn-offline-mirror "./.yarn-offline-mirror"
yarn-offline-mirror-pruning true
