@import '@commercetools-local/ui-kit/materials/colors.mod.css';
@import '@commercetools-local/ui-kit/materials/spacings.mod.css';

:root {
  /* save toolbar */
  --height-save-toolbar: 57px;

  /* additional spacing at the bottom of view that has a save-toolbar */
  --spacing-bottom-with-save-toolbar: calc(
    var(--height-save-toolbar) + var(--spacing-16)
  );
}

.container {
  display: flex;
  align-items: stretch;
}

.container-left {
  width: calc(100% - 80px);
}

.container-right {
  width: 80px;
  display: flex;
  align-items: center;
}

.container-full {
  width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-item {
  flex: 1 0 100px;
  margin-right: 5px;
}

.list-item:last-child {
  margin: 0;
}

.list-item-year,
.list-item-month,
.list-item-day {
  composes: list-item;
}

/** REACT SELECT COMPOSITION */
.react-select-container {
  position: relative;
}

.react-select-container :global(.Select-control) {
  background: var(--new-color-gray-95);
  color: var(--new-color-black);
  border-radius: 6px;
}

.react-select-container :global(.Select-menu-outer) {
  z-index: 3;

  /* This transform forces GPU acceleration, which fixes high DPI issues
     in Chrome (Blink). */
  transform: translate3d(0, 0, 0);
}

:global(.is-open.Select).react-select-container :global(.Select-control) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Adds extra spacing on the bottom, which avoids the dropdown menu to be
  overlapped by the save toolbar on Firefox */
:global(.is-open.Select).react-select-container
  :global(.Select-menu-outer)::after {
  content: ' ';
  position: absolute;
  height: var(--spacing-bottom-with-save-toolbar);
  width: 100%;
  top: 100%;
}

:global(.is-focused.has-value:not(.is-pseudo-focused)).react-select-container
  :global(.Select-value-label) {
  color: var(--new-color-gray) !important;
}

.react-select-container
  :global(.Select-menu-outer .Select-menu .Select-option.is-focused) {
  background-color: var(--new-color-gray-95);
  color: var(--new-color-black);
}

.react-select-container :global(.Select-control) {
  border: none;
}

/** REACT SELECT COMPOSITION (end) */

.dropdown {
  composes: react-select-container;
  width: 100%;
}

.dropdown:global(.is-disabled) :global(.Select-control):hover {
  cursor: not-allowed;
}

.clear-button {
  cursor: pointer;
  margin-left: 10px;
  position: relative;

  /* offset the icon to the top, since the icon itself contains an empty pixel
  at the top */
  margin-top: -1px;
}

.label-day-of-week {
  color: var(--new-color-gray-60);
  margin-left: 10px;
}
