.single-value-container {
  flex: 1;
  align-items: center;
  display: flex;
}

.container {
  position: relative;
  width: var(--constraint-s);
}

.language-counter {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  padding: 3px;
  background: var(--color-accent-40);
  color: var(--color-surface);
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
}

.label {
  margin-left: 2px;
  flex: 1;
  color: var(--color-accent);
}
