.container {
  width: 350px;
}

.card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header {
  background: var(--color-navy);
  padding: var(--spacing-8);
  border-top-left-radius: var(--border-radius-6);
  border-top-right-radius: var(--border-radius-6);
}

.logo {
  width: 163px;
  height: 45px;
  padding: 3px 0;
}
