@import '@commercetools-local/ui-kit/materials/colors.mod.css';
@import '@commercetools-local/ui-kit/materials/spacings.mod.css';

:root {
  --height-notification: 48px;
}

.container {
  color: var(--color-white);
  position: relative;
  width: 100%;
  z-index: 10000;
}

.container-global {
  composes: container;
  text-align: center;
  width: 100% !important;
}

.container-global .content {
  margin: auto 0;
}

.container-global .notification {
  display: inline-flex;
  padding-right: var(--height-notification);
  height: 100%;
  width: 100%;
}

.container-side {
  composes: container;
  position: absolute;
  text-align: left;
  height: 0;
  overflow: visible;
}

.container-page {
  composes: container;
}

.container-page .notification {
  padding: var(--spacing-16) var(--spacing-24);
}
