version: 2.1

aliases:
  - &working_directory ~/merchant-center-application-kit

  - &restore_yarn_cache
    name: 'Restoring yarn cache'
    keys:
      - v1-yarn-cache-{{ checksum "yarn.lock" }}
      - v1-yarn-cache

  - &save_yarn_cache
    name: 'Saving yarn cache'
    key: v1-yarn-cache-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

executors:
  node_10:
    docker:
      - image: circleci/node:10.15
    working_directory: *working_directory
  cypress:
    working_directory: *working_directory
    docker:
      - image: 'cypress/base:10'
        environment:
          TERM: xterm

commands:
  install_dependencies:
    description: 'Installing dependencies'
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: yarn install --pure-lockfile
      - save_cache: *save_yarn_cache
  build_artifacts:
    description: 'Building artifacts'
    steps:
      - run: yarn build
  save_workspace:
    steps:
      - persist_to_workspace:
          root: *working_directory
          paths:
            - packages/**/dist
  restore_workspace:
    steps:
      - attach_workspace:
          at: *working_directory
  lint:
    description: 'Running linters'
    steps:
      - run: yarn run jest --projects jest.eslint.config.js jest.stylelint.config.js --maxWorkers=3 --reporters jest-silent-reporter
  unit_test:
    description: 'Running tests'
    steps:
      - run: yarn run jest --projects jest.test.config.js --maxWorkers=3 --reporters jest-silent-reporter
  vrt_test:
    description: 'Running Visual Regression Tests'
    steps:
      - run: yarn run-if:percy
  build_packages:
    steps:
      - build_artifacts
      - save_workspace
  build_playground:
    description: 'Building playground'
    steps:
      - run: yarn playground:build
  build_starter:
    description: 'Building starter'
    steps:
      - run: yarn template-starter:build
  publish_to_canary:
    steps:
      - run:
          name: Publishing to npm registry
          command: ./scripts/release_canary.sh

jobs:
  lint:
    executor: node_10
    steps:
      - install_dependencies
      - lint
  unit_test:
    executor: node_10
    steps:
      - install_dependencies
      - unit_test
  build:
    executor: node_10
    steps:
      - install_dependencies
      - build_packages
  vrt_test:
    executor: node_10
    steps:
      - install_dependencies
      - restore_workspace
      - vrt_test
  e2e_test:
    executor: cypress
    parameters:
      record:
        type: boolean
        default: false
      parallel:
        type: boolean
        default: false
      parallelism:
        type: integer
        default: 1
      start:
        type: string
        default: ''
      build:
        type: string
        default: ''
      wait-on:
        type: string
        default: ''
      spec:
        type: string
        default: ''
      group:
        type: string
        default: ''
      store_artifacts:
        type: boolean
        default: false
    steps:
      - install_dependencies
      - restore_workspace
      - when:
          condition: <<parameters.build>>
          steps:
            - run:
                name: Building
                command: <<parameters.build>>
      - when:
          condition: <<parameters.start>>
          steps:
            - run:
                name: Starting
                command: <<parameters.start>>
                background: true
      - when:
          condition: <<parameters.wait-on>>
          steps:
            - run:
                name: Waiting on <<parameters.wait-on>>
                command: npx wait-on <<parameters.wait-on>>
      - run:
          name: Run Cypress tests
          command: |
            npx cypress run \
              <<# parameters.spec>> --spec '<<parameters.spec>>' <</ parameters.spec>> \
              <<# parameters.record >> --record \
                <<# parameters.group>> --group '<<parameters.group>>' <</ parameters.group>> \
                <<# parameters.parallel>> --parallel <</ parameters.parallel>> \
              <</ parameters.record>>
  publish:
    executor: node_10
    steps:
      - restore_workspace
      - publish_to_canary

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint:
          filters:
            branches:
              only:
                - refactor/use-circleci
      - unit_test
      - build:
          requires:
            - unit_test
            - lint
      - vrt_test:
          requires:
            - build
      - e2e_test:
          name: e2e_playground
          requires:
            - build
          spec: 'cypress/integration/playground/**/*.js'
          build: yarn playground:build
          start: yarn playground:start:prod:local
          wait-on: 'http://localhost:3001'
          store_artifacts: true
      - e2e_test:
          name: e2e_starter
          requires:
            - build
          spec: 'cypress/integration/template-starter/**/*.js'
          build: yarn template-starter:build
          start: yarn template-starter:start:prod:local
          wait-on: 'http://localhost:3001'
          store_artifacts: true
      - publish:
          requires:
            - e2e_playground
            - e2e_starter
          filters:
            branches:
              only:
                - master
