.react-select-wrapper {
  width: 225px;
}

.option-container {
  word-wrap: break-word;
}

.single-value-container {
  flex: 1;
  align-items: center;
  display: flex;
}

.dropdown-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-name {
  color: var(--color-accent);
}

.value-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.value-wrapper {
  flex: 1;
}

.project-counter {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--color-accent-40);
  color: var(--color-surface);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text-main {
  color: var(--color-accent);
}

.item-text-disabled {
  color: var(--color-neutral);
}

.item-text-main.item-text-disabled {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item-text-small {
  font-size: 11px;
}

.red {
  color: var(--color-error);
}

.disabled-icon-container {
  font-size: 1.5rem;
  display: flex;
}
