.password-requirement {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.icon {
  flex: 0 var(--spacing-24);
  display: flex;
  justify-content: flex-start;
}

.requirement {
  width: 100%;
  color: var(--font-color-readonly);
}

.fulfilled {
  color: var(--font-color-success);
}

.unfulfilled {
  color: var(--font-color-error);
}
