@import '@commercetools-frontend/ui-kit/materials/colors/base-colors.mod.css';
@import '@commercetools-frontend/ui-kit/materials/tokens/tokens.mod.css';
@import '@commercetools-frontend/ui-kit/materials/spacings.mod.css';

.password-requirement {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.icon {
  flex: 0 var(--spacing-24);
  display: flex;
  justify-content: flex-start;
}

.requirement {
  width: 100%;
  color: var(--token-font-color-readonly);
}

.fulfilled {
  color: var(--token-font-color-success);
}

.unfulfilled {
  color: var(--token-font-color-error);
}
