@import '@commercetools-frontend/ui-kit/materials/spacings.mod.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--spacing-24);
  max-width: 100vw;
  overflow: auto;
  text-align: center;
}

.content {
  max-width: 460px;
  text-align: center;
}

.content > * + * {
  margin: var(--spacing-24) 0 0;
}

.body {
  display: flex;
  justify-content: center;
}
