:root {
  --menu-width: 315px;
  --menu-position-top: 40px;
  --menu-position-right: 14px;
  --menu-offset-right: 28px;
}

.settings-container {
  cursor: pointer;
  border: none;
  padding: 0;
  display: flex;
  background: transparent;
}

.menu {
  position: absolute;
  background: var(--color-surface);
  border: 1px var(--color-primary-40) solid;
  border-radius: var(--border-radius-6);
  box-shadow: var(--shadow-7);
  width: var(--menu-width);
  right: var(--menu-position-right);
  top: var(--menu-position-top);
  padding: var(--spacing-xs);
  overflow: hidden;
}

.menu::before {
  content: '';
  position: absolute;
  right: 30px;
  top: -6px;
  border-style: solid;
  border-width: 0 6px 6px;
  z-index: 1;
}

.menu::after {
  content: '';
  position: absolute;
  right: var(--menu-offset-right);
  top: calc(var(--spacing-s) * -1);
  border-style: solid;
  border-width: 0 var(--spacing-s) var(--spacing-s);
  z-index: 0;
}

.item {
  width: 100%;
  cursor: pointer;
  color: var(--color-solid);
}

.item:hover {
  background-color: var(--color-neutral-90);
}

.item-divider-account-section {
  border-bottom: 1px solid var(--color-neutral);
}
