:root {
  --menu-width: 315px;
  --menu-position-top: 40px;
  --menu-position-right: 14px;
  --menu-offset-right: 28px;
}

.settings-container {
  cursor: pointer;
  border: none;
  padding: 0;
  display: flex;
}

.menu {
  position: absolute;
  border: 1px var(--color-green-40) solid;
  box-shadow: var(--shadow-7-first), var(--shadow-7-second);
  width: var(--menu-width);
  right: var(--menu-position-right);
  top: var(--menu-position-top);
  padding: var(--spacing-4);
  overflow: hidden;
}

.menu::before {
  content: '';
  position: absolute;
  right: 30px;
  top: -6px;
  border-style: solid;
  border-width: 0 6px 6px;
  z-index: 1;
}

.menu::after {
  content: '';
  position: absolute;
  right: var(--menu-offset-right);
  top: calc(var(--spacing-8) * -1);
  border-style: solid;
  border-width: 0 var(--spacing-8) var(--spacing-8);
  z-index: 0;
}

.item {
  width: 100%;
  cursor: pointer;
  color: var(--color-black);
}

.item:hover {
  background-color: var(--color-gray-90);
}

.item-divider-account-section {
  border-bottom: 1px solid var(--color-gray);
}

.email-divider {
  margin-bottom: var(--spacing-4);
}
