@import '@commercetools-local/ui-kit/materials/colors.mod.css';

.react-select-wrapper {
  max-width: 400px;
  min-width: 200px;
  transition-delay: 0s;
}

.react-select-wrapper.is-open :global(.Select-control) {
  border: 1px var(--color-gray) solid;
  background: var(--color-gray-95);
}

:global(.Select--single).react-select-wrapper :global(.Select-value) {
  padding-right: 65px;
}

.react-select-container {
  position: relative;
}

.react-select-container :global(.Select-control) {
  color: var(--color-black);
  border-radius: 6px;
  border: 0;
  background-color: var(--color-gray-95);
  cursor: pointer;
  min-width: 200px;
  right: 0;
  width: 100%;
}

.react-select-container :global(.Select-control:hover) {
  box-shadow: none;
}

/* Name of project  */
.react-select-container :global(.Select-option) .item-text-main {
  word-break: break-all;
}

.dropdown-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-name {
  composes: ellipsis;
  color: var(--color-navy);
  line-height: 23px;
  padding-right: 0;
  width: calc(100% - 55px);
  display: inline-block;
  vertical-align: middle;
}

.counter {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  padding: 3px;
  background: var(--color-navy-40);
  color: var(--color-white);
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  margin-top: 3px;
  line-height: 17px;
}

.project-counter {
  composes: counter;
  margin: 0;
  right: 33px;
}

.item-text-main {
  color: var(--color-navy);
}

.item-text-disabled {
  color: var(--color-gray);
}

.item-text-main.item-text-disabled {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item-text-small {
  font-size: 11px;
}

.red {
  color: var(--color-red);
}

.disabled-icon-container {
  font-size: 1.5rem;
  display: flex;
}
