:root {
  --color-modalBackground: rgba(32, 62, 72, 0.5);
}

.modal-overlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modalBackground);
  opacity: 1;
}

.modal-content {
  display: grid;
  height: 100%;
  width: 100%;
  outline: none;

  /* To ensure that the mouse click on the overlay surface goes "through"
  and triggers the modal to close, we need to turn off the pointer events. */
  pointer-events: none;
}

.modal-content-m {
  composes: modal-content;
  grid: [row1-start] 'top top top' minmax(var(--spacing-xl), 1fr) [row1-end]
        [row2-start] 'left main right' minmax(0, 100%) [row2-end]
        [row3-start] 'bottom bottom bottom' minmax(var(--spacing-xl), 1fr) [row3-end]
        / minmax(var(--spacing-xl), 1fr) var(--constraint-m) minmax(var(--spacing-xl), 1fr);
}

.modal-content-l {
  composes: modal-content;
  grid: [row1-start] 'top top top' minmax(var(--spacing-xl), 1fr) [row1-end]
        [row2-start] 'left main right' minmax(0, 100%) [row2-end]
        [row3-start] 'bottom bottom bottom' minmax(var(--spacing-xl), 1fr) [row3-end]
        / minmax(var(--spacing-xl), 1fr) var(--constraint-l) minmax(var(--spacing-xl), 1fr);
}

.modal-content-scale {
  composes: modal-content;
  grid: [row1-start] 'top top top' minmax(var(--spacing-xl), 1fr) [row1-end]
        [row2-start] 'left main right' minmax(0, 100%) [row2-end]
        [row3-start] 'bottom bottom bottom' minmax(var(--spacing-xl), 1fr) [row3-end]
        / var(--spacing-xl) 1fr var(--spacing-xl);
}

.grid-area-top {
  grid-area: top;
}

.grid-area-left {
  grid-area: left;
}

.grid-area-right {
  grid-area: right;
}

.grid-area-bottom {
  grid-area: bottom;
}

/* For the scale size, we want the card to stretch to 100% height */
.modal-content-scale .dialog-card {
  height: 100%;
}

.dialog-card {
  /* Ref: https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox/28639686#28639686 */
  min-height: 0;
}

.dialog-card > div {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* For the actual container with the content, we need to use normal pointer
  events so that clicking on it does not close the dialog. */
  pointer-events: auto;

  /* Ref: https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox/28639686#28639686 */
  min-height: 0;
}

.dialog-card-spacer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  /* Ref: https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox/28639686#28639686 */
  min-height: 0;
}

.dialog-card-spacer > * + * {
  margin: var(--spacing-m) 0 0;
}

.dialog-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.dialog-header {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.dialog-content {
  border-top: 1px solid var(--border-color-separator);
  padding: var(--spacing-m) 0 var(--spacing-s);
  overflow: visible;
  flex: 1;

  /* The overflow should be `auto`, to make the container scrollable */
  overflow: auto;
}
