:root {
  --color-modalBackground: rgba(32, 62, 72, 0.5);

  /* Modals */
  --z-index--overlay: 1000;
}

.modal-overlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modalBackground);
  z-index: var(--z-index--overlay);
  opacity: 0;
}

:global(.ReactModal__Overlay--after-open).modal-overlay {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

:global(.ReactModal__Overlay--before-close).modal-overlay {
  opacity: 0;
}

.modal-content {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  outline: none;

  /* To ensure that the mouse click on the overlay surface goes "through"
  and triggers the modal to close, we need to turn off the pointer events. */
  pointer-events: none;
}

.dialog-container {
  /* For the actual container with the content, we need to use normal pointer
  events so that clicking on it does not close the dialog. */
  pointer-events: auto;
}

.dialog-content {
  border-top: 1px solid var(--border-color-separator);
  padding-top: var(--spacing-16);
  overflow: auto;

  /* NOTE: we might need to look into those values again, specifically for the `scale`
  mode, where the dialog is supposed to scale to the window size. */
  max-height: 80vh;
  max-width: 80vw;
}

.align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.align-right > * + * {
  margin: 0 0 0 var(--spacing-16);
}
