{
  "trailingComma": "es5",
  "singleQuote": true,
  "parser": "babel",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.graphql",
      "options": {
        "parser": "graphql"
      }
    }
  ]
}
