:root {
  --expander-height: 50px;
  --expander-size: 40px;
  --icon-size: 24px;
  --icon-size-hover: 28px;
  --item-size: 48px;
  --item-height: 56px;
  --sublist-indentation-when-collapsed: 72px;
  --sublist-indentation-when-expanded: 248px;
  --sublist-width: 253px;
  --left-navigation-transition: all 150ms cubic-bezier(1, 0, 0.58, 1);

  /* Left navigation */
  --width-left-navigation: 80px;
  --width-left-navigation-when-expanded: 256px;
}
