:root {
  --expander-height: 50px;
  --icon-size: 32px;
  --submenu-margin: calc(var(--icon-size) + var(--spacing-m));

  /* Left navigation */
  --width-leftNavigation: 64px;
}

/* Left Nav */

.left-navigation {
  display: flex;
  flex-grow: 1;
  width: var(--width-leftNavigation);
  z-index: 19999;
  background: var(--color-accent);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 0;
}

:global(.body__menu-open) .scrollable-menu {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  width: 64px;
  height: 64px;
  background: var(--color-accent);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.item-link {
  color: var(--color-surface);
  padding: var(--spacing-m);
  width: 100%;
  position: relative;
  display: block;
}

.list-item .item-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item .icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.list-item .title {
  flex: 1;
  font-size: 1rem;
  font-weight: 100;
  color: var(--color-surface);
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  text-align: left;
  text-decoration: none;
}

.title-user-voice {
  composes: title;
  font-size: 0.9em !important;
}

.expander {
  height: var(--expander-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.expander:hover {
  background: transparent !important;
}

.expand-icon {
  background: var(--color-solid);
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  transform: translateX(0) rotateZ(180deg);
  width: 32px;
}

.item--bottom {
  position: absolute;
  bottom: var(--expander-height);
}

.list-item:hover {
  background-color: var(--color-accent-30);
}

.item__active .title {
  opacity: 1;
  display: block;
  transition: all 0.2s ease;
}

.item_menu-open {
  height: auto !important;
}

/* NO SUBMENU */

.item__no-submenu,
.item_menu-collapsed {
  height: 64px !important;
}

.item_menu-collapsed .item-link {
  text-align: center;
}

.item__no-submenu .title {
  border-bottom: 0;
}

.item__no-submenu .sublist {
  padding: 45px 20px 20px;
}

/* left-nav open */

:global(.body__menu-open) .title {
  color: var(--color-surface);
  font-weight: 100;
}

:global(.body__menu-open) .left-navigation {
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.16);
}

:global(.body__menu-open) .list-item {
  height: auto;
  min-height: 64px;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

:global(.body__menu-open) .left-navigation,
:global(.body__menu-open) .list-item {
  width: 200px;
}

:global(.body__menu-open) .list-item .title {
  display: block;
  white-space: nowrap;
  opacity: 1;
  margin-left: var(--spacing-m);
  color: var(--color-surface);
}

:global(.body__menu-open) .expand-icon {
  transform: translateX(65px) rotateZ(0deg);
}

:global(.body__menu-open) .item__active {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

:global(.body__menu-open) .sublist {
  position: relative;
  z-index: 1;
  left: 0;
  margin: 0 0 0 var(--submenu-margin);
  padding: var(--spacing-s) 0 0;
  background-color: transparent;
  border-top: 1px var(--color-neutral-60) solid;
}

:global(.body__menu-open) .sublist.sublist-no-children {
  border: 0;
}

:global(.body__menu-open) .title-copy {
  font-size: 0.857em;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  transition: all 0.15s ease;
}

:global(.body__menu-open) .title-copy:hover {
  color: var(--color-primary-40);
}

:global(.body__menu-open) .expander {
  min-height: 50px;
}

/*  Second level menu */

.sublist {
  padding: 55px var(--spacing-m) var(--spacing-m);
  font-weight: 100;
  position: absolute;
  background-color: var(--color-accent-30);
  top: 0;
  left: 64px;
  z-index: -1;
  list-style: none;
  opacity: 0.01;
  visibility: hidden;
}

.sublist__inactive {
  /* empty block */
}

.sublist-item {
  padding: 3px 0;
}

.sublist-item:hover {
  /* background-color: --color-accent-30; */
  color: var(--color-primary-40);
}

.text {
  font-size: 0.857em;
}

.text-link {
  color: white;
  text-decoration: none;
  transition: all 0.15s ease;
}

.text-link:hover {
  color: var(--color-primary-40);
}

.title-text {
  font-weight: bold;
  visibility: hidden;
  opacity: 0.001;
}

/* Item active */
.item__active {
  background: var(--color-accent-30);
}

.list-item.item__active .item-icon-text {
  position: absolute;
  width: 175px;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  position: relative;
  width: auto;
}

.list-item.item__active .item-icon-text .title {
  margin-left: 30px;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text .title {
  margin-left: var(--spacing-m);
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  margin-left: 0;
}

.list-item.item__active .sublist {
  width: 150px;
}

:global(.body__menu-open) .list-item.item__active .sublist {
  width: calc(100% - var(--submenu-margin));
}

.sublist-expanded__active,
.sublist-collapsed__active {
  opacity: 1;
  visibility: visible;
  text-align: left;
}

.highlighted {
  color: var(--color-primary-40) !important;
}

.hidden {
  display: none;
}

.divider-first-item {
  border-top: 1px solid var(--color-solid);
}

.divider-second-item {
  border-top: 1px solid var(--color-accent-40);
}

.loading-dot-container {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-menu {
  flex: 1 1 0;
}

.fixed-menu {
  flex: 0 0 0;
}
