:root {
  --expander-height: 50px;
  --expander-size: 40px;
  --icon-size: 24px;
  --icon-size-hover: 28px;
  --item-size: 48px;
  --item-height: 56px;
  --sublist-indentation-when-collapsed: 72px;
  --sublist-indentation-when-expanded: 248px;
  --sublist-width: 253px;
  --left-navigation-transition: all 150ms cubic-bezier(1, 0, 0.58, 1);

  /* Left navigation */
  --width-left-navigation: 80px;
  --width-left-navigation-when-expanded: 256px;
}

/* Left Nav */

.list-item {
  min-height: var(--item-size);
  background: var(--color-primary);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.item-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  width: var(--item-size);
  position: relative;
  display: block;
}

:global(.body__menu-open) .item-link {
  width: 100%;
}

.list-item .item-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item .icon {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: var(--left-navigation-transition);
}

.list-item:hover .icon,
.list-item:focus-within .icon {
  /* 1.16 is roughly the ratio of icon-size-hover to --icon-size */
  transform: scale(1.2);
}

.list-item .icon > svg *:not([fill='none']) {
  fill: var(--color-surface);
}

.list-item .title {
  flex: 1;
  font-weight: 600;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  opacity: 0;
  transition: var(--left-navigation-transition);
  text-align: left;
  text-decoration: none;
  z-index: 1;
}

.item--bottom {
  position: absolute;
  bottom: var(--expander-height);
}

.list-item:not(.item_menu__active):hover,
.list-item:not(.item_menu__active):focus-within {
  background-color: var(--color-primary-40);
  border-radius: var(--border-radius-8);
}

.item_menu-open {
  height: auto !important;
}

.item_menu-collapsed .item-link {
  text-align: center;
}

:global(.body__menu-open) .list-item {
  height: auto;
  min-height: var(--item-size);
  width: 100%;
}

:global(.body__menu-open) .list-item .title {
  opacity: 1;
  margin-left: var(--spacing-25);
  color: var(--color-surface);
  transition: var(--left-navigation-transition);
  animation: visible 150ms cubic-bezier(1, 0, 0.58, 1);
}

.list-item:hover .title,
.list-item:focus-within .title {
  margin-left: calc(var(--spacing-25) + 2px);
}

.list-item:not(.item__active):hover .icon > svg *:not([fill='none']),
.list-item:not(.item__active):focus-within .icon > svg *:not([fill='none']) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  fill: var(--color-for-navbar-icon-when-active);
}

.list-item:not(.item__active):hover .title,
.list-item:not(.item__active):focus-within .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
}

:global(.body__menu-open) .item__active {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

/*  Second level menu */

.sublist {
  padding: var(--spacing-30);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar);
  left: var(--sublist-indentation-when-collapsed);
  z-index: -1;
  list-style: none;
  position: fixed;
  display: none;
}

/* This pseudo-element is required to enable smooth coursor movement from the main menu item to submenu items with the gap in between */
.sublist-expanded__active::before,
.sublist-collapsed__active::before,
.sublist-collapsed__active__above::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(var(--sublist-width) + var(--spacing-20));
  height: var(--item-size);
  left: calc(-1 * var(--spacing-20));
}

.sublist__inactive {
  /* empty block */
}

.sublist-item {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.sublist-item__active {
  border-radius: var(--border-radius-4);
  background: var(--color-accent-30);
}

.sublist-item:not(.sublist-item__active):hover,
.sublist-item:not(.sublist-item__active):focus-within {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  border-radius: var(--border-radius-4);
  background: var(--color-primary-95);
}

.text {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  width: 100%;
  height: 100%;
}

.text-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  text-decoration: none;
  display: flex;
  padding: var(--spacing-25);
  align-items: center;
  justify-content: center;
}

:global(.body__menu-open) .text-link {
  justify-content: start;
}

.text-link-sublist-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
}

.text-link-sublist {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--color-solid);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  text-decoration: none;
  flex: 1;
  padding: var(--spacing-25) var(--spacing-25) var(--spacing-25)
    var(--spacing-30);
  transition: padding 150ms ease-out;
}

.sublist-item:not(.sublist-item__active):hover .text-link-sublist,
.sublist-item:not(.sublist-item__active):focus-within .text-link-sublist {
  /* additional left padding on hover and focus */
  padding: var(--spacing-25) var(--spacing-25) var(--spacing-25)
    calc(var(--spacing-30) + var(--spacing-20));
}

.navlink-clickable-content {
  height: 100%;
  width: 100%;
}

/* Item active */
.item__active,
.item_menu__active,
.item_menu__active:focus-within .list-item {
  background: var(--color-accent-30);
  border-radius: var(--border-radius-8);
}

.list-item.item__active .item-icon-text {
  justify-content: flex-start;
}

.list-item .icon-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.fixed-menu .list-item .item-icon-text {
  justify-content: center;
  display: flex;
  width: 100%;
}

.support-menu {
  padding: var(--spacing-10) var(--spacing-30) var(--spacing-20)
    var(--spacing-30);
  height: calc(var(--item-size) + var(--spacing-20));
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  position: relative;
  width: auto;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  margin-left: 0;
}

.tooltip-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--item-size);
  visibility: visible;
}

.tooltip {
  padding: var(--spacing-10) calc(var(--spacing-20) + var(--spacing-10));
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  border-radius: var(--border-radius-4);
  background: var(--color-accent-10);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  color: var(--color-surface);
  max-height: var(--item-size);
  visibility: inherit;
}

.sublist-expanded__active,
.sublist-collapsed__active,
.sublist-collapsed__active__above {
  opacity: 1;
  display: none;
  text-align: left;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar-when-active);
}

.item-link:hover .sublist-collapsed__active,
.item-link:hover .sublist-collapsed__active__above,
.item-link:hover .sublist-expanded__active,
.item-link:focus-within .sublist-collapsed__active,
.item-link:focus-within .sublist-collapsed__active__above,
.item-link:focus-within .sublist-expanded__active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--color-surface);
  /* TODO: add design tokens instead hard-coded values */
  min-height: 50px;
  width: var(--sublist-width);
  border-radius: var(--border-radius-8);
  /* z-index value must be higher than AppBar's z-index */
  z-index: 20001;
  box-shadow: -2px 4px 25px 0 rgba(89, 89, 89, 0.5);
}

.item-link:hover .sublist-collapsed__active.sublist-collapsed__empty,
.item-link:hover .sublist-collapsed__active__above.sublist-collapsed__empty,
.item-link:focus-within .sublist-collapsed__active.sublist-collapsed__empty,
.item-link:focus-within
  .sublist-collapsed__active__above.sublist-collapsed__empty {
  visibility: hidden;
}

.item-link:hover .sublist-expanded__active,
.item-link:focus-within .sublist-expanded__active {
  left: var(--sublist-indentation-when-expanded);
}

.highlighted,
.highlighted .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-active) !important;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-active);
}

.hidden {
  display: none;
}

.divider {
  border-top: 1px solid var(--color-neutral-40);
}

.loading-dot-container {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-menu {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: var(--spacing-30) var(--spacing-30) var(--item-size);
  width: var(--width-left-navigation);
  box-sizing: border-box;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-40) transparent;
}

:global(.body__menu-open) .scrollable-menu {
  width: var(--width-left-navigation-when-expanded);
}

.scrollable-menu:hover {
  overflow-y: scroll;
  padding-right: 8px;
}

.scrollable-menu::-webkit-scrollbar {
  width: 8px;
}

.scrollable-menu::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-40);
  border-radius: var(--border-radius-8);
}

.fixed-menu {
  position: relative;
  width: var(--width-left-navigation);
}

:global(.body__menu-open) .fixed-menu {
  width: var(--width-left-navigation-when-expanded);
}
