:root {
  --expander-height: 50px;
  --icon-size: 24px;
  --icon-container-offset: 4px;
  --item-height: 56px;
  --item-width: 64px;
  --submenu-margin: calc(
    var(--icon-size) + var(--spacing-m) + var(--icon-container-offset) + 4px
  );

  /* Left navigation */
  --width-left-navigation: 64px;
  --width-left-navigation-when-expanded: 264px;
  --width-left-navigation-sublist: 200px;
}

/* Left Nav */

.left-navigation {
  display: flex;
  flex-grow: 1;
  width: var(--width-left-navigation);
  z-index: 19999;
  background: var(--color-accent);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 0;
}

:global(.body__menu-open) .scrollable-menu {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  width: var(--item-width);
  height: var(--item-height);
  background: var(--color-accent);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.item-link {
  color: var(--color-surface);
  padding: var(--spacing-m);
  width: 100%;
  position: relative;
  display: block;
}

.list-item .item-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item .icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.list-item .title {
  flex: 1;
  font-weight: 500;
  font-size: var(--font-size-for-nav-bar-link);
  line-height: var(--line-height-for-nav-bar-link);
  color: var(--color-surface);
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  text-align: left;
  text-decoration: none;
}

.expander {
  border-top: 1px solid var(--color-neutral-40);
  height: var(--expander-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.expander:hover {
  background: transparent !important;
}

.expand-icon {
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  height: var(--icon-size);
  justify-content: center;
  transform: translateX(0) rotateZ(0deg);
  width: var(--icon-size);
}

.item--bottom {
  position: absolute;
  bottom: var(--expander-height);
}

.list-item:hover {
  background-color: var(--color-accent-30);
}

.item__active .title {
  opacity: 1;
  display: block;
  transition: all 0.2s ease;
}

.item_menu-open {
  height: auto !important;
}

/* NO SUBMENU */

.item__no-submenu,
.item_menu-collapsed {
  height: var(--item-height) !important;
}

.item_menu-collapsed .item-link {
  text-align: center;
}

.item__no-submenu .title {
  border-bottom: 0;
}

.item__no-submenu .sublist {
  padding-top: 40px;
}

/* left-nav open */

:global(.body__menu-open) .title {
  color: var(--color-surface);
  font-weight: 500;
  font-size: var(--font-size-for-nav-bar-link);
  line-height: var(--line-height-for-nav-bar-link);
}

:global(.body__menu-open) .left-navigation {
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.16);
}

:global(.body__menu-open) .list-item {
  height: auto;
  min-height: var(--item-height);
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

:global(.body__menu-open) .left-navigation,
:global(.body__menu-open) .list-item {
  width: var(--width-left-navigation-when-expanded);
}

:global(.body__menu-open) .list-item .title {
  display: block;
  opacity: 1;
  margin-left: var(--spacing-m);
  color: var(--color-surface);
}

:global(.body__menu-open) .expand-icon {
  transform: translateX(0) rotateZ(180deg);
}

:global(.body__menu-open) .item__active {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

:global(.body__menu-open) .sublist {
  position: relative;
  z-index: 1;
  left: 0;
  margin: 0 0 0 var(--submenu-margin);
  padding: var(--spacing-m) 0 0;
  background-color: transparent;
}

:global(.body__menu-open) .sublist.sublist-no-children {
  border: 0;
}

:global(.body__menu-open) .title-copy {
  font-weight: 400;
  font-size: var(--font-size-for-nav-bar-link);
  color: white;
  text-decoration: none;
  transition: all 0.15s ease;
}

:global(.body__menu-open) .title-copy:hover {
  color: var(--color-primary-40);
}

:global(.body__menu-open) .expander {
  min-height: 50px;
  justify-content: flex-end;
  padding: var(--spacing-m);
}

/*  Second level menu */

.sublist {
  padding: 55px var(--spacing-l) var(--spacing-m);
  font-weight: 400;
  font-size: var(--font-size-for-nav-bar-link);
  position: absolute;
  background-color: var(--color-accent-30);
  top: 0;
  left: 64px;
  z-index: -1;
  list-style: none;
  opacity: 0.01;
  visibility: hidden;
}

.sublist__inactive {
  /* empty block */
}

.sublist-item {
  padding: var(--spacing-s) 0 0;
}
.sublist-item:first-of-type {
  padding: 0;
}

.sublist-item:hover {
  /* background-color: --color-accent-30; */
  color: var(--color-primary-40);
}

.text {
  font-weight: 400;
  font-size: var(--font-size-for-nav-bar-link);
  line-height: var(--line-height-for-nav-bar-link);
}

.text-link {
  color: white;
  text-decoration: none;
  transition: all 0.15s ease;
}

.text-link:hover {
  color: var(--color-primary-40);
}

/* Item active */
.item__active {
  background: var(--color-accent-30);
}

.list-item.item__active .item-icon-text {
  /* position: absolute; */
  width: calc(
    var(--width-left-navigation-sublist) + var(--width-left-navigation) -
      var(--spacing-m) * 2
  );
  justify-content: flex-start;
}
.list-item .icon-container {
  /* margin-left: var(--icon-container-offset); */
  width: calc(var(--icon-size) + var(--icon-container-offset) * 2);
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.fixed-menu .list-item .item-icon-text {
  justify-content: flex-start;
  display: flex;
  /* align-items: center; */
  width: 100%;
}
.fixed-menu .list-item .icon-container {
  /* empty block */
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  position: relative;
  width: auto;
}

.list-item.item__active .item-icon-text .title {
  margin-left: 40px;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text .title {
  margin-left: var(--spacing-m);
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  margin-left: 0;
}

.list-item.item__active .sublist {
  width: var(--width-left-navigation-sublist);
}

:global(.body__menu-open) .list-item.item__active .sublist {
  width: calc(100% - var(--submenu-margin));
}

.sublist-expanded__active,
.sublist-collapsed__active {
  opacity: 1;
  visibility: visible;
  text-align: left;
}

.highlighted {
  color: var(--color-primary-40) !important;
}

.hidden {
  display: none;
}

.divider {
  border-top: 1px solid var(--color-neutral-40);
}

.loading-dot-container {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-menu {
  flex: 1 1 0;
}

.fixed-menu {
  flex: 0 0 0;
}
