:root {
  --expander-height: 50px;
  --expander-size: 40px;
  --icon-size: 24px;
  --icon-size-hover: 28px;
  --item-size: 48px;
  --item-height: 56px;
  --sublist-indentation-when-collapsed: 72px;
  --sublist-indentation-when-expanded: 248px;
  --sublist-width: 253px;
  --left-navigation-transition: all 150ms cubic-bezier(1, 0, 0.58, 1);

  /* Left navigation */
  --width-left-navigation: 80px;
  --width-left-navigation-when-expanded: 256px;
}

/* Left Nav */


 [data-nav-migration='item-link'] {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  width: var(--item-size);
  position: relative;
  display: block;
}

:global(.body__menu-open)  [data-nav-migration='item-link'] {
  width: 100%;
}

/*  Second level menu */

/* This pseudo-element is required to enable smooth coursor movement from the main menu item to submenu items with the gap in between */
.sublist-expanded__active::before,
.sublist-collapsed__active::before,
.sublist-collapsed__active__above::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(var(--sublist-width) + var(--spacing-20));
  height: var(--item-size);
  left: calc(-1 * var(--spacing-20));
}

.sublist__inactive {
  /* empty block */
}

/* Item active */

.sublist-expanded__active,
.sublist-collapsed__active,
.sublist-collapsed__active__above {
  opacity: 1;
  display: none;
  text-align: left;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar-when-active);
}

.highlighted,
.highlighted [data-nav-migration='title'] {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-active) !important;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-active);
}


/* list-item */

[data-nav-migration='fixed-menu'] [data-nav-migration='list-item'] [data-nav-migration='item-icon-text'] {
  justify-content: center;
  display: flex;
  width: 100%;
}

[data-nav-migration='list-item'] {
  min-height: var(--item-size);
  background: var(--color-primary);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

[data-nav-migration='list-item'] [data-nav-migration='icon-container'] {
  width: auto;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

[data-nav-migration-3='item_menu-collapsed'] {
  text-align: center;
}

[data-nav-migration-1='item__active'],
[data-nav-migration-2='item_menu__active'],
[data-nav-migration-2='item_menu__active']:focus-within {
  background: var(--color-accent-30);
  border-radius: var(--border-radius-8);
}

[data-nav-migration-1='item__active']
  [data-nav-migration='item-icon-text'] {
  justify-content: flex-start;
}

[data-nav-migration='list-item']:hover [data-nav-migration='title'],
[data-nav-migration='list-item']:focus-within [data-nav-migration='title'] {
  margin-left: calc(var(--spacing-25) + 2px);
}

[data-nav-migration='list-item']:hover [data-nav-migration='icon'],
[data-nav-migration='list-item']:focus-within [data-nav-migration='icon'] {
  /* 1.16 is roughly the ratio of icon-size-hover to --icon-size */
  transform: scale(1.2);
}

[data-nav-migration='list-item']:not([data-nav-migration-2='item_menu__active']):hover,
[data-nav-migration='list-item']:not([data-nav-migration-2='item_menu__active']):focus-within {
  background-color: var(--color-primary-40);
  border-radius: var(--border-radius-8);
}

[data-nav-migration='list-item']:not([data-nav-migration-1='item__active']):hover
  [data-nav-migration='icon']
  > svg
  *:not([fill='none']),
[data-nav-migration='list-item']:not([data-nav-migration-1='item__active']):focus-within
  [data-nav-migration='icon']
  > svg
  *:not([fill='none']) {
  fill: var(--color-for-navbar-icon-when-active);
}

[data-nav-migration='list-item']:not([data-nav-migration-1='item__active']):hover
  [data-nav-migration='title'],
[data-nav-migration='list-item']:not([data-nav-migration-1='item__active']):focus-within
  [data-nav-migration='title'] {
  color: var(--color-for-navbar-link-when-hovered);
}

[data-nav-migration='list-item']:hover .sublist-collapsed__active,
[data-nav-migration='list-item']:hover .sublist-collapsed__active__above,
[data-nav-migration='list-item']:hover .sublist-expanded__active,
[data-nav-migration='list-item']:focus-within .sublist-collapsed__active,
[data-nav-migration='list-item']:focus-within .sublist-collapsed__active__above,
[data-nav-migration='list-item']:focus-within .sublist-expanded__active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-surface);
  /* TODO: add design tokens instead hard-coded values */
  min-height: 50px;
  width: var(--sublist-width);
  border-radius: var(--border-radius-8);
  /* z-index value must be higher than AppBar's z-index */
  z-index: 20001;
  box-shadow: -2px 4px 25px 0 rgba(89, 89, 89, 0.5);
}

[data-nav-migration='list-item']:hover .sublist-collapsed__active.sublist-collapsed__empty,
[data-nav-migration='list-item']:hover .sublist-collapsed__active__above.sublist-collapsed__empty,
[data-nav-migration='list-item']:focus-within .sublist-collapsed__active.sublist-collapsed__empty,
[data-nav-migration='list-item']:focus-within .sublist-collapsed__active__above.sublist-collapsed__empty {
  visibility: hidden;
}

[data-nav-migration='list-item']:hover .sublist-expanded__active,
[data-nav-migration='list-item']:focus-within .sublist-expanded__active {
  left: var(--sublist-indentation-when-expanded);
}
