@import '@commercetools-local/ui-kit/materials/colors.mod.css';
@import '@commercetools-local/ui-kit/materials/spacings.mod.css';

.container {
  background: var(--color-whiteSnow);
  width: 100%;
  height: 100vh;
  padding: 7% 0;
}

.copyright {
  font-size: 0.9rem;
  text-align: center;
  margin-top: var(--spacing-24);
}
