:root {
  --expander-height: 50px;
  --expander-size: 40px;
  --faded-height: 32px;
  --icon-size: 24px;
  --icon-size-hover: 28px;
  --icon-container-offset: 4px;
  --item-size: 48px;
  --divider-top: 64px;
  --item-height: 56px;
  --item-width: 64px;
  --sublist-indentantion: 58px;
  --sublist-width: 253px;
  --submenu-margin: calc(
    var(--icon-size) + var(--spacing-m) + var(--icon-container-offset) + 4px
  );

  /* Left navigation */
  --width-left-navigation: 80px;
  --width-left-navigation-when-expanded: 256px;
  --width-left-navigation-sublist: 205px;

  /* Active list item with icon text */
  --left-list-item-icon-text-active: 46px;
  --width-list-item-icon-text-active: 166px;
}

/* Left Nav */

.left-navigation {
  display: grid;
  width: var(--width-left-navigation);
  background: var(--color-primary-30);
  height: 100vh;
  grid-template-rows: 56px 1fr;
}

.navigation-header {
  background-color: var(--color-accent-10);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 0;
}

.list-item {
  min-height: var(--item-size);
  background: var(--color-primary-30);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.item-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  /* TODO: add design tokens instead hard-coded values */
  padding: 12px;
  width: var(--item-size);
  position: relative;
  display: block;
}

:global(.body__menu-open) .item-link {
  width: 100%;
}

.list-item .item-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item .icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
.list-item .icon > svg *:not([fill='none']) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  fill: var(--color-for-navbar-icon);
}
.list-item .icon__active > svg *:not([fill='none']) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  fill: var(--color-for-navbar-icon-when-active);
}

.list-item .title {
  flex: 1;
  font-weight: 500;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}

.expander {
  display: flex;
  align-items: center;
  justify-content: center;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(
    180deg,
    var(--color-primary-30) 0%,
    var(--color-primary-20) 100%
  );
  padding: 16px 12px;
}

/* divider */
.expander::before {
  content: '';
  position: absolute;
  top: var(--divider-top);
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  width: calc(100% - 2 * var(--spacing-m));
}

.expand-icon {
  height: var(--expander-size);
  width: var(--expander-size);
  border-radius: var(--border-radius-4);
  padding: var(--spacing-s);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

.item--bottom {
  position: absolute;
  bottom: var(--expander-height);
}

.list-item:hover {
  background-color: var(--color-primary);
  transition: all 0.25s ease-in-out;
  border-radius: 8px;
}

.item__active .title {
  opacity: 1;
  display: block;
  transition: all 0.2s ease;
}

.item_menu-open {
  height: auto !important;
}

/* NO SUBMENU */

.item_menu-collapsed .item-link {
  text-align: center;
}

.item__no-submenu .title {
  border-bottom: 0;
}

:global(.body__menu-open) .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  font-weight: 500;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
}

:global(.body__menu-open) .left-navigation {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  box-shadow: var(--shadow-for-navbar);
}

:global(.body__menu-open) .list-item {
  height: auto;
  min-height: var(--item-size);
  overflow: hidden;
  width: 100%;
}

:global(.body__menu-open) .left-navigation {
  width: var(--width-left-navigation-when-expanded);
}

:global(.body__menu-open) .list-item .title {
  display: block;
  opacity: 1;
  margin-left: var(--spacing-s);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-surface);
}

.list-item:not(.item__active):hover .icon > svg *:not([fill='none']) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  fill: var(--color-for-navbar-icon-when-active);
}

.list-item:not(.item__active):hover .icon {
  width: var(--icon-size-hover);
  height: var(--icon-size-hover);
  transition: all 0.25s ease-in-out;
}

.list-item:not(.item__active):hover .item-link {
  /* TODO: add design tokens instead hard-coded values */
  padding: 10px;
  height: var(--item-size);
}

.list-item:not(.item__active):hover .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
}

:global(.body__menu-open) .item__active {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

/*  Second level menu */

.sublist {
  padding: var(--spacing-m) var(--spacing-l);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar);
  left: var(--sublist-indentantion);
  z-index: -1;
  list-style: none;
  position: fixed;
  display: none;
}

/* This pseudo-element is required to enable smooth coursor movement from the main menu item to submenu items when tooltip is displayed */
.sublist-collapsed__active::before {
  content: '';
  position: absolute;
  display: block;
  width: var(--sublist-width);
  height: var(--item-height);
  top: calc(-1 * var(--item-height));
  left: calc(var(--sublist-indentantion) - var(--width-left-navigation));
}

.sublist__inactive {
  /* empty block */
}

.sublist-item {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.sublist-item__active {
  border-radius: var(--border-radius-4);
  background: var(--color-accent-30);
}

.sublist-item:hover {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  border-radius: var(--border-radius-4);
  background: var(--color-primary-95);
}

.text {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  width: 100%;
  height: 100%;
}

.text-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  text-decoration: none;
  transition: all 0.15s ease;
}

.text-link-sublist {
  display: flex;
  align-items: flex-start;
  color: var(--color-solid);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  text-decoration: none;
  padding: calc(var(--spacing-20) + var(--spacing-10))
    calc(var(--spacing-20) + var(--spacing-10))
    calc(var(--spacing-20) + var(--spacing-10)) var(--spacing-30);
}

.text-link:hover {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
}

/* Item active */
.item__active,
.item_menu__active {
  background: var(--color-accent-30);
  /* TODO: add design tokens instead hard-coded values */
  border-radius: 8px;
}

.list-item.item__active .item-icon-text {
  justify-content: flex-start;
}

.list-item .icon-container {
  width: calc(var(--icon-size) + var(--icon-container-offset) * 2);
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.fixed-menu .list-item .item-icon-text {
  justify-content: center;
  display: flex;
  width: 100%;
}

.support-menu {
  padding: var(--spacing-s) var(--spacing-m);
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  position: relative;
  width: auto;
}

.list-item.item__active .item-icon-text .title {
  margin-left: 40px;
}

.item_menu-collapsed.list-item.item__active .item-icon-text .title {
  display: none;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text .title {
  margin-left: var(--spacing-m);
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  margin-left: 0;
}

.tooltip-container {
  position: absolute;
  top: calc(-1 * var(--item-height));
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--item-height);
  visibility: visible;
}

.tooltip {
  padding: var(--spacing-10) calc(var(--spacing-20) + var(--spacing-10));
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  border-radius: var(--border-radius-4);
  background: var(--color-accent-10);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  color: var(--color-surface);
  max-height: var(--item-height);
  visibility: inherit;
}

.sublist-expanded__active,
.sublist-collapsed__active {
  opacity: 1;
  display: none;
  text-align: left;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar-when-active);
}

.item-link:hover .sublist-collapsed__active,
.item-link:hover .sublist-expanded__active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--color-surface);
  /* TODO: add design tokens instead hard-coded values */
  min-height: 50px;
  width: var(--sublist-width);
  border-radius: 8px;
  /* z-index value must be higher than AppBar's z-index */
  z-index: 20001;
  box-shadow: -2px 4px 25px 0 rgba(89, 89, 89, 0.5);
}

.item-link:hover .sublist-collapsed__active.sublist-collapsed__empty {
  visibility: hidden;
}

.item-link:hover .sublist-expanded__active {
  left: 240px;
}

.highlighted,
.highlighted .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-active) !important;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-active);
}

.highlighted-sublist,
.highlighted-sublist .title {
  color: var(--color-surface);
}

.sublist-item:hover .highlighted-sublist,
.sublist-item:hover .highlighted-sublist .title {
  color: var(--color-solid);
}

.hidden {
  display: none;
}

.divider {
  border-top: 1px solid var(--color-neutral-40);
}

.loading-dot-container {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-menu {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: var(--spacing-m) var(--spacing-m) var(--item-size);
  width: var(--width-left-navigation);
  box-sizing: border-box;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

:global(.body__menu-open) .scrollable-menu {
  width: var(--width-left-navigation-when-expanded);
}

.scrollable-menu:hover {
  overflow-y: scroll;
  padding-right: 8px;
}

.scrollable-menu::-webkit-scrollbar {
  width: 8px;
}

.scrollable-menu::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
}

.fixed-menu {
  position: relative;
  width: var(--width-left-navigation);
}

:global(.body__menu-open) .fixed-menu {
  width: var(--width-left-navigation-when-expanded);
}
