:root {
  --expander-height: 50px;
  --expander-size: 40px;
  --icon-size: 24px;
  --icon-size-hover: 28px;
  --item-size: 48px;
  --item-height: 56px;
  --sublist-indentantion-when-collapsed: 72px;
  --sublist-indentantion-when-expanded: 248px;
  --sublist-width: 253px;

  /* Left navigation */
  --width-left-navigation: 80px;
  --width-left-navigation-when-expanded: 256px;
}

/* Left Nav */

.left-navigation {
  display: grid;
  width: var(--width-left-navigation);
  background: var(--color-primary);
  height: 100%;
  grid-template-rows: 56px 1fr;
}

.navigation-header {
  background-color: var(--color-accent-10);
  color: var(--color-surface);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-30);
}

.navigation-header .icon-container {
  width: auto;
  display: flex;
  justify-content: center;
}

.navigation-header .title {
  font-weight: 600;
  margin-left: var(--spacing-20);
}

.navigation-header .icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 0;
}

.list-item {
  min-height: var(--item-size);
  background: var(--color-primary);
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.list:not(.item_menu__active) .list-item,
.list:not(.item__active) .list-item {
  transition: all 150ms ease-out;
}

.item-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  width: var(--item-size);
  position: relative;
  display: block;
}

.item-link-no-submenu {
  width: 100%;
  height: 100%;
}

:global(.body__menu-open) .item-link {
  width: 100%;
}

.list-item .item-icon-text {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: var(--spacing-25);
  left: var(--spacing-25);
}

.list-item .icon {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: all 150ms cubic-bezier(1, 0, 0.58, 1);
}

.list-item:hover .icon {
  width: var(--icon-size-hover);
  height: var(--icon-size-hover);
}

.list-item .icon > svg *:not([fill='none']) {
  fill: var(--color-surface);
}

.list-item .title {
  flex: 1;
  font-weight: 600;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  display: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}

.expander {
  display: flex;
  align-items: center;
  justify-content: center;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary-25) 100%
  );
  padding: var(--spacing-30) var(--spacing-25);
}

/* divider */
.expander::before {
  content: '';
  position: absolute;
  top: var(--item-height);
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  width: calc(100% - 2 * var(--spacing-30));
}

.expand-icon {
  height: var(--expander-size);
  width: var(--expander-size);
  border-radius: var(--border-radius-4);
  padding: var(--spacing-20);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

.item--bottom {
  position: absolute;
  bottom: var(--expander-height);
}

.list-item:not(.item_menu__active):hover {
  background-color: var(--color-primary-40);
  border-radius: var(--border-radius-8);
}

.item__active .title {
  opacity: 1;
  display: block;
  transition: all 0.2s ease;
}

.item_menu-open {
  height: auto !important;
}

.item_menu-collapsed .item-link {
  text-align: center;
}

:global(.body__menu-open) .left-navigation {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  box-shadow: var(--shadow-for-navbar);
}

:global(.body__menu-open) .list-item {
  height: auto;
  min-height: var(--item-size);
  overflow: hidden;
  width: 100%;
}

:global(.body__menu-open) .left-navigation {
  width: var(--width-left-navigation-when-expanded);
}

:global(.body__menu-open) .list-item .title {
  display: block;
  opacity: 1;
  margin-left: var(--spacing-25);
  color: var(--color-surface);
}

.list-item:not(.item__active):hover .icon > svg *:not([fill='none']) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  fill: var(--color-for-navbar-icon-when-active);
}

.list-item:not(.item__active):hover .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
}

:global(.body__menu-open) .item__active {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

/*  Second level menu */

.sublist {
  padding: var(--spacing-30);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar);
  left: var(--sublist-indentantion-when-collapsed);
  z-index: -1;
  list-style: none;
  position: fixed;
  display: none;
}

/* This pseudo-element is required to enable smooth coursor movement from the main menu item to submenu items with the gap in between */
.sublist-expanded__active::before,
.sublist-collapsed__active::before,
.sublist-collapsed__active__above::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(var(--sublist-width) + var(--spacing-20));
  height: var(--item-size);
  left: calc(-1 * var(--spacing-20));
}

.sublist__inactive {
  /* empty block */
}

.sublist-item {
  display: flex;
  align-items: center;
  align-self: stretch;
  transition: padding-left 150ms ease-out;
}

.sublist-item__active {
  border-radius: var(--border-radius-4);
  background: var(--color-accent-30);
}

.sublist-item:not(.sublist-item__active):hover {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-hovered);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  border-radius: var(--border-radius-4);
  background: var(--color-primary-95);
  padding-left: var(--spacing-20);
}

.text {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  width: 100%;
  height: 100%;
}

.text-link {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

:global(.body__menu-open) .text-link {
  justify-content: start;
}

.text-link-sublist-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
  padding: var(--spacing-25) var(--spacing-25) var(--spacing-25)
    var(--spacing-30);
}

.text-link .item-icon-text {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-link-sublist {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-solid);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-hovered);
  text-decoration: none;
  flex: 1;
}

.navlink-clickable-content {
  height: 100%;
  width: 100%;
}

/* Item active */
.item__active,
.item_menu__active {
  background: var(--color-accent-30);
  border-radius: var(--border-radius-8);
}

.list-item.item__active .item-icon-text {
  justify-content: flex-start;
}

.list-item .icon-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.fixed-menu .list-item .item-icon-text {
  justify-content: center;
  display: flex;
}

.support-menu {
  padding: 0 var(--spacing-30) var(--spacing-20) var(--spacing-30);
  height: calc(var(--item-size) + var(--spacing-20));
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  position: relative;
  width: auto;
}

.item_menu-collapsed.list-item.item__active .item-icon-text .title {
  display: none;
}

:global(.body__menu-open) .list-item.item__active .item-icon-text {
  margin-left: 0;
}

.tooltip-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--item-size);
  visibility: visible;
}

.tooltip {
  padding: var(--spacing-10) calc(var(--spacing-20) + var(--spacing-10));
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  border-radius: var(--border-radius-4);
  background: var(--color-accent-10);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-size: var(--font-size-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  line-height: var(--line-height-for-navbar-link);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link);
  color: var(--color-surface);
  max-height: var(--item-size);
  visibility: inherit;
}

.sublist-expanded__active,
.sublist-collapsed__active,
.sublist-collapsed__active__above {
  opacity: 1;
  display: none;
  text-align: left;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--background-color-for-navbar-when-active);
}

.item-link:hover .sublist-collapsed__active,
.item-link:hover .sublist-collapsed__active__above,
.item-link:hover .sublist-expanded__active,
.item-link-no-submenu:hover .sublist-collapsed__active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--color-surface);
  /* TODO: add design tokens instead hard-coded values */
  min-height: 50px;
  width: var(--sublist-width);
  border-radius: var(--border-radius-8);
  /* z-index value must be higher than AppBar's z-index */
  z-index: 20001;
  box-shadow: -2px 4px 25px 0 rgba(89, 89, 89, 0.5);
}

.item-link:hover .sublist-collapsed__active.sublist-collapsed__empty,
.item-link:hover .sublist-collapsed__active__above.sublist-collapsed__empty,
.item-link-no-submenu:hover
  .sublist-collapsed__active.sublist-collapsed__empty {
  visibility: hidden;
}

.item-link:hover .sublist-expanded__active {
  left: var(--sublist-indentantion-when-expanded);
}

.highlighted,
.highlighted .title {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--color-for-navbar-link-when-active) !important;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  font-weight: var(--font-weight-for-navbar-link-when-active);
}

.hidden {
  display: none;
}

.divider {
  border-top: 1px solid var(--color-neutral-40);
}

.loading-dot-container {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-menu {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: var(--spacing-30) var(--spacing-30) var(--item-size);
  width: var(--width-left-navigation);
  box-sizing: border-box;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-40) transparent;
}

:global(.body__menu-open) .scrollable-menu {
  width: var(--width-left-navigation-when-expanded);
}

.scrollable-menu:hover {
  overflow-y: scroll;
  padding-right: 8px;
}

.scrollable-menu::-webkit-scrollbar {
  width: 8px;
}

.scrollable-menu::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-40);
  border-radius: var(--border-radius-8);
}

.fixed-menu {
  position: relative;
  width: var(--width-left-navigation);
}

:global(.body__menu-open) .fixed-menu {
  width: var(--width-left-navigation-when-expanded);
}
