@import '@commercetools-local/ui-kit/materials/colors.mod.css';
@import '@commercetools-local/ui-kit/materials/spacings.mod.css';
@import '@commercetools-local/core/_styles/shared.mod.css';

:root {
  --color-modalBackground: rgba(32, 62, 72, 0.5);
}

.underline {
  text-decoration: underline;
}

/* Login container */

.form > * + * {
  margin: var(--spacing-16) 0 0;
}

.forgot-pw {
  margin-top: var(--spacing-24);
  display: block;
  cursor: pointer;
  color: var(--color-greyTundora);
}

.forgot-pw:hover {
  color: var(--color-primaryGreen);
}

.error-message {
  margin: 0;
  padding: 20px 10px;
  background-color: var(--color-redCream);
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
}

.success-message {
  margin: 0;
  padding: 20px 10px;
  background-color: var(--color-primaryGreen);
  color: var(--color-white);
}

/* Forms */
.title {
  padding: 0;
  margin: 0;
}

.fieldset {
  border: 0;
  padding: 0;
}

.label {
  color: var(--color-greyDove);
  display: block;
  text-align: left;
  margin: var(--spacing-16) 0 var(--spacing-8);
}

.input-text {
  width: 100%;
}

.input-text:last-of-type {
  margin-bottom: var(--spacing-24);
}

.input-text {
  transition: all 0.2s ease;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  color: var(--color-greyTundora);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  padding: 7.5px 10px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: var(--color-primaryGrey);
  background-color: var(--color-white);
  width: 100%;
}

.input-text:focus {
  border-color: var(--color-greenLight);
}

.input-text:last-of-type {
  margin-bottom: 25px;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modalBackground);
  z-index: var(--z-index--overlay);
  left: 0;
}

.disabled {
  cursor: not-allowed;
}

.forgot-pw.disabled:hover {
  color: var(--color-greyDove);
}
