:root {
  --headerHeight: 43px;
  --menuWidth: 200px;
}

.app-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--headerHeight) 1fr;
  grid-template-columns: var(--menuWidth) 1fr;
}
