/* we should probably give the #app div created by create-index-html a class */
:global(#app) {
  height: 100%;
}

.app-layout {
  height: 100%;

  /* IE10 version of css grid to make it work in IE11 */
  -ms-grid-rows: 50px 1fr;
  -ms-grid-columns: 200px 1fr;

  /* grid spec-compliant version */
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 200px 1fr;
}
