name: Preview Release on Comment

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

on:
  issue_comment:
    types: [created]

jobs:
  release:
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '[preview_deployment]')
    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - name: Validate Comment Author Association
        if: "!contains(fromJson('["MEMBER", "OWNER"]'), github.event.comment.author_association)"
        run: |
          echo "Comment author is not a trusted member or owner. Skipping execution to prevent untrusted code execution."
          exit 0

      # Get GitHub token via the CT Changesets App
      - name: Generate GitHub token (via CT Changesets App)
        id: generate_github_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.CT_CHANGESETS_APP_ID }}
          private_key: ${{ secrets.CT_CHANGESETS_APP_PEM }}

      - name: Get branch of PR
        uses: xt0rted/pull-request-comment-branch@v3
        id: comment-branch

      - name: Validate branch name
        run: |
          if [[ ! "$BRANCH_NAME" =~ ^preview/[a-zA-Z0-9_-]+$ ]]; then
            echo "Ignoring PR because of the branch name. Exiting workflow."
            exit 1
          fi
        env:
          BRANCH_NAME: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}
          token: ${{ steps.generate_github_token.outputs.token }}

      - name: Installing dependencies and building packages
        uses: ./.github/actions/ci

      - name: Setting up authorization to NPM registry (.npmrc)
        run: |
          cat << EOF > "$HOME/.npmrc"
            provenance=true
            email=npmjs@commercetools.com
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publishing preview releases to npm registry
        run: |
          PREVIEW_TAG=$(echo "$BRANCH_NAME" | sed -e 's/^preview\///')
          pnpm changeset version --snapshot ${PREVIEW_TAG}
          pnpm changeset publish --tag ${PREVIEW_TAG}
          node ./scripts/update-npm-tag.mjs ${PREVIEW_TAG}
        env:
          GITHUB_TOKEN: ${{ steps.generate_github_token.outputs.token }}
          BRANCH_NAME: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Post workflow result on PR as a comment
        if: always()
        run: |
          gh issue comment ${{ github.event.issue.number }} \
            --body "Release workflow ${{ job.status == 'success' && 'succeeded ✅' || 'failed ❌' }}\nSee details: [Workflow Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
