name: Release

on:
  push:
    branches:
      - main
  issue_comment:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish-release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/publish-release.yml
    permissions:
      id-token: write
      contents: read

  publish-preview:
    if: github.event_name == 'issue_comment' && github.event.issue.pull_request && startsWith(github.event.comment.body, '[preview_deployment]')
    uses: ./.github/workflows/publish-preview.yml
    permissions:
      id-token: write
      contents: read

